* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #412F26;
}

.palabra {
  padding: 10px;
}

.letra {
  font-size: 25px;
}

.amarilla {
  color: #806044;
}

.negra {
  color: #EDE1D2;
}

.list-nav {
  list-style: none;
  display: flex;
}

.list-content {
  padding: 15px;
}
.list-content a {
  color: #fff;
  text-decoration: none;
  transition: 0.7s;
}
.list-content a:hover {
  color: #806044;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-fondo.jpg);
  background-size: cover;
  background-repeat: repeat;
  object-fit: cover;
  background-position: left;
}

.me-presento {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
}
.me-presento video {
  width: 100%;
  height: 600px;
}

.videos-init {
  width: 100%;
  height: 100%;
}

.presentacion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;
}

.video1 {
  text-align: center;
  width: 350px;
  height: 600px;
  overflow: hidden;
}
.video1 h1, .video1 h2, .video1 h3 {
  color: #fff;
  padding: 10px;
  font-size: 18px;
}
.video1 video {
  width: 350px;
  height: 500px;
  border: 3px solid #000;
  object-fit: cover;
  overflow: hidden;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  color: #806044;
  text-align: center;
  font-size: 60px;
  z-index: 200;
}

.ft-contain {
  background-color: #412F26;
}

.footer h4 {
  text-align: center;
  color: #EDE1D2;
}
.footer h5 {
  text-align: center;
  font-size: 19px;
  color: #EDE1D2;
}

.contain-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-icon i {
  padding: 10px;
  font-size: 22px;
  color: #806044;
}

@media only screen and (max-width: 3500px) {
  .navbar, .navbar-dark, .bg-dark, .fixed-top {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    width: 100%;
    height: 100%;
    background-size: contain 10px 10px;
    background-repeat: repeat;
    background-position: center;
  }
  .header {
    display: none;
  }
  .navbar, .navbar-dark, .bg-dark, .fixed-top {
    display: block;
    margin: 10px;
    position: static;
  }
  .bg-dark {
    background-color: #412F26 !important;
  }
  .bg-color {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .palabra {
    padding: 0;
  }
  .nav-logo-botom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .offcanvas-body {
    background-color: #EDE1D2;
  }
  .offcanvas-header {
    background-color: #806044;
  }
  .list-nav-mobile {
    color: #000;
  }
  .list-nav-mobile a {
    color: #412F26;
    transition: 0.7s;
  }
  .list-nav-mobile a:hover {
    color: #806044;
  }
  .presentacion {
    padding-top: 100px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
  }
  .video1 video {
    width: 350px;
    height: 500px;
  }
  .video1 h1, .video1 h2, .video1 h3 {
    max-width: 100%;
    height: auto;
  }
  .me-presento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .me-presento video {
    width: 350px;
    height: 500px;
    padding: 20px;
  }
  .me-presento h1 {
    font-size: 18px;
    border-radius: 2%;
  }
  .caja {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .caja video {
    width: 100% !important;
    height: 100% !important;
  }
  .caja__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .caja__content img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media only screen and (max-width: 450px) {
  .presentacion {
    width: 100%;
    max-width: 100%;
    margin: auto 0;
  }
}
.pseudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-fondo.jpg);
  background-size: cover 9px 9px;
  background-repeat: repeat;
  object-fit: cover;
  background-position: center;
}

.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja video {
  width: 70%;
  height: 70%;
  padding: 30px;
}

.caja__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  transition: 0.7s;
}
.caja__content:hover {
  background-color: #000;
}
.caja__content:hover h1, .caja__content:hover p {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.grid-item {
  background-color: #000;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grid-item video {
  padding-top: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.grid-item p {
  color: #fff;
}

.grid-item h3 {
  margin-top: 0;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
