.header {
    display: flex;
    justify-content: space-between;
    background-color: #412F26;
}
.palabra {
    padding: 10px;
}
.letra {
    font-size: 25px;
    
}
.amarilla {
    color: #806044;
}
.negra {
    color: #EDE1D2;
}
.list-nav {
    list-style: none;
    display: flex;
    
    
}
.list-content {
    padding: 15px;
    
    a {
        color: #fff;
    text-decoration: none;
    transition: 0.7s;
    &:hover {
        color: #806044;
    }
    }
   
}
body {
    width: 100%;
    height: 100%;
      background-image: url(../img/bg-fondo.jpg);
      background-size: cover;
      background-repeat: repeat;
      object-fit: cover;
      background-position: left;
      
	
}
.me-presento {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 80px;
    

    video {
        width: 100%;
        height: 600px;
        
    }
}


.videos-init {
    width: 100%;
    height: 100%;
}

.presentacion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
   padding: 40px;
   
}

.video1 {
    
    text-align: center;
    width: 350px;
    height: 600px;
    overflow: hidden;
    
    
    h1, h2, h3{
       
       
        color: #fff;
        padding: 10px;
        font-size: 18px;
       
       }
      video {
        width: 350px;
        height: 500px;
        border: 3px solid #000;
        object-fit: cover;
        overflow: hidden;
      }
}

.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	color: #806044;
	text-align: center;
	font-size: 60px;
	z-index: 200;

    
}

.ft-contain {
    background-color: #412F26;
    
}
.footer {
    h4 {
        text-align: center;
        color: #EDE1D2;

    }

    h5{
        text-align: center;
        font-size: 19px;
        color: #EDE1D2;
    }

}
.contain-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    i {
        padding: 10px;
        font-size: 22px;
        color: #806044;
    }
}