@media only screen and (max-width: 3500px){
    .navbar, .navbar-dark, .bg-dark, .fixed-top{
        display: none;
    }
}
@media only screen and (max-width: 800px){
    body {
        width: 100%;
        height: 100%;
       background-size: contain 10px 10px;
       background-repeat: repeat;
       background-position: center;
      

    }
    .header {
        display: none;
    }
    .navbar, .navbar-dark, .bg-dark, .fixed-top{
        display: block;
        margin: 10px;
        position: static;
        
    }
    .bg-dark {
        background-color: #412F26 !important;
    }
    .bg-color {
        width: 100%;
    height: 100vh;
      background-image: url(../img/bg-image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
     object-fit: cover;
    }
    .palabra {
        padding: 0;
        
    }
    .nav-logo-botom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .offcanvas-body {
        background-color: #EDE1D2;
    }
    .offcanvas-header {
        background-color: #806044;
    }

    .list-nav-mobile {
        color: #000;

        a {
            color: #412F26;
            transition: 0.7s;

            &:hover {
                color: #806044;
                
            }
        }
      
    }

    .presentacion {
        padding-top: 100px;
        max-width: 100%;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        
        
       
    }
    .video1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: 500px;
        
       video {
        width: 350px;
        height: 500px;
       }
        h1, h2, h3 {
            max-width: 100%;
            height: auto;
        }
    }
    .me-presento {
       display: flex;
       flex-direction: column;
       align-items: center;
       
       
        video {
            width: 350px;
            height: 500px;
            padding: 20px;
        }
        h1 {
            font-size: 18px;
            border-radius: 2%;
            
            
        }
    }

    .caja {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        video {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .caja__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 450px){

    .presentacion {
        width: 100%;
        max-width: 100%;
        margin: auto 0;
        
    }
    
}